* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.nav {
    background-color: rgb(166, 162, 162);
   
}

.row {
    background-color: rgb(166, 162, 162);

    
}
.container {
    margin-top: 5%;
    
}

.buscar {

    margin-top: 15%;
    margin-left: 260%;
    width: 300%;
    
}

.lista-botoes {

    display: flex;
  
}
