<div class="border border-end col-md-3 col-lg-2 p-0 bg-body-tertiary">
  <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
    aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarMenuLabel">Controle de Estoque</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
        aria-label="Close">
      </button>
    </div>
    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-auto" style="height: calc(100vh - 58px);">
      <ul class="nav nav-pills flex-column px-2">
        <li class="nav-item">
          {% if relatorio %}
            <span class="nav-link active user-select-none d-flex align-items-center gap-2 fs-5" aria-current="page">
              <i class="bi bi-grid"></i>
              Relatório
            </span>
          {% else %}
            <a class="nav-link d-flex align-items-center gap-2 fs-5 link-offset-2" aria-current="page"
              href="{% url 'produtos:relatorio' %}">
              <i class="bi bi-grid"></i>
              Relatório
            </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</div>