header {
    background-color: #f85eca89;
    border: 1px solid rgba(95, 90, 90, 0.76);
}

.i {
    background-color: #f0b7c551;
}

.criar-produto { 
    border: 1px solid rgba(13, 13, 13, 0.76);
    background-color:white;
}

.modal-cadastrar {

    background-color: #f0b7c551;

}